# path:   /home/klassiker/.local/share/repos/pkgbuilds/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/pkgbuilds
# date:   2023-07-30T08:03:14+0200

pkg/
src/
*\.tar\.bz2
*\.pkg\.tar\.*
inkscape-stripped/inkscape-*
