# path:   /home/klassiker/.local/share/repos/pkgbuilds/.gitignore
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/pkgbuilds
# date:   2024-05-09T17:06:08+0200

pkg/
src/
*\.tar\.bz2
*\.pkg\.tar\.*
inkscape-stripped/inkscape*
