# path:   /home/klassiker/.local/share/repos/pkgbuilds/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/pkgbuilds
# date:   2025-08-08T05:29:14+0200

pkg/
src/
*\.tar\.bz2
*\.tar\.xz
*\.pkg\.tar\.*
/inkscape-stripped/inkscape*
