pkgbase = yt-dlp-stripped
	pkgdesc = A youtube-dl fork with additional features and fixes (stripped from unnecessary dependencies)
	pkgver = 2026.01.31
	pkgrel = 1
	url = https://github.com/yt-dlp/yt-dlp
	arch = any
	license = Unlicense
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-certifi
	depends = python-requests
	depends = python-urllib3
	optdepends = ffmpeg: for video post-processing
	optdepends = rtmpdump: for rtmp streams support
	optdepends = atomicparsley: for embedding thumbnails into m4a files
	optdepends = aria2: for using aria2 as external downloader
	optdepends = python-mutagen: for embedding thumbnail in certain formats
	optdepends = python-pycryptodome: for decrypting AES-128 HLS streams and various other data
	optdepends = python-pycryptodomex: for decrypting AES-128 HLS streams and various other data
	optdepends = python-websockets: for downloading over websocket
	optdepends = python-brotli: brotli content encoding support
	optdepends = python-brotlicffi: brotli content encoding support
	optdepends = python-xattr: for writing xattr metadata
	optdepends = python-pyxattr: for writing xattr metadata (alternative option)
	optdepends = phantomjs: for extractors with javascript code
	optdepends = python-secretstorage: For -cookies-from-browser to access the GNOME keyring while decrypting cookies of Chromium-based browsers
	optdepends = yt-dlp-ejs: non-deprecated YouTube support
	provides = yt-dlp
	conflicts = yt-dlp
	source = yt-dlp-stripped-2026.01.31.tar.gz::https://github.com/yt-dlp/yt-dlp/releases/download/2026.01.31/yt-dlp.tar.gz
	b2sums = ec86a20e757c508aefeadb9cdd2496fbeb5700248cfdbc7df627eac18a558d09a01286080ccb0c424d428023f99d5f15a7337bddfd3475ca4e26986c8ca02bf8

pkgname = yt-dlp-stripped
