pkgbase = yt-dlp-stripped
	pkgdesc = A youtube-dl fork with additional features and fixes (stripped from unnecessary dependencies)
	pkgver = 2026.01.29
	pkgrel = 1
	url = https://github.com/yt-dlp/yt-dlp
	arch = any
	license = Unlicense
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-certifi
	depends = python-requests
	depends = python-urllib3
	optdepends = ffmpeg: for video post-processing
	optdepends = rtmpdump: for rtmp streams support
	optdepends = atomicparsley: for embedding thumbnails into m4a files
	optdepends = aria2: for using aria2 as external downloader
	optdepends = python-mutagen: for embedding thumbnail in certain formats
	optdepends = python-pycryptodome: for decrypting AES-128 HLS streams and various other data
	optdepends = python-pycryptodomex: for decrypting AES-128 HLS streams and various other data
	optdepends = python-websockets: for downloading over websocket
	optdepends = python-brotli: brotli content encoding support
	optdepends = python-brotlicffi: brotli content encoding support
	optdepends = python-xattr: for writing xattr metadata
	optdepends = python-pyxattr: for writing xattr metadata (alternative option)
	optdepends = phantomjs: for extractors with javascript code
	optdepends = python-secretstorage: For -cookies-from-browser to access the GNOME keyring while decrypting cookies of Chromium-based browsers
	optdepends = yt-dlp-ejs: non-deprecated YouTube support
	provides = yt-dlp
	conflicts = yt-dlp
	source = yt-dlp-stripped-2026.01.29.tar.gz::https://github.com/yt-dlp/yt-dlp/releases/download/2026.01.29/yt-dlp.tar.gz
	b2sums = a2ab7672c1cbfdc6c5a6effc7aefc84515928c4b2815aaaccb59db8890734d2b2e2747ffab4173bf36371420bfd26bb879d9ca0ccb8fbb260c44bfe33c12fd9c

pkgname = yt-dlp-stripped
