pkgbase = gimp-stripped
	pkgdesc = GNU Image Manipulation Program (stripped from most unnecessary dependencies)
	pkgver = 3.0.2
	pkgrel = 1
	url = https://www.gimp.org
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = intltool
	makedepends = libxslt
	makedepends = meson
	depends = appstream-glib
	depends = babl
	depends = gegl
	depends = gtk3
	depends = libgexiv2
	depends = mypaint-brushes1
	depends = python-gobject
	depends = libxmu
	depends = poppler-data
	depends = poppler-glib
	optdepends = alsa-lib: for MIDI event controller module
	optdepends = cfitsio: for FITS support
	optdepends = ghostscript: for PostScript support
	optdepends = gjs: for JavaScript scripting support
	optdepends = gutenprint: for sophisticated printing only as gimp has built-in cups print support
	optdepends = gvfs: for HTTP/S support (and many other schemes)
	provides = gimp
	conflicts = gimp
	source = https://download.gimp.org/gimp/v3.0/gimp-3.0.2.tar.xz
	b2sums = dd853b67c47d93882ff9393b808f085eab24eff337e61ed317372f186d2d94994778763e06523131bc8e1d43d077607d8c88c6a8ccb4d23115e28eb37cf473d8

pkgname = gimp-stripped
