pkgbase = gimp-stripped
	pkgdesc = GNU Image Manipulation Program (stripped from most unnecessary dependencies)
	pkgver = 3.0.0
	pkgrel = 2
	url = https://www.gimp.org
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = intltool
	makedepends = libxslt
	makedepends = meson
	depends = appstream-glib
	depends = babl
	depends = gegl
	depends = gtk3
	depends = libgexiv2
	depends = mypaint-brushes1
	depends = python-gobject
	depends = libxmu
	depends = poppler-data
	depends = poppler-glib
	optdepends = alsa-lib: for MIDI event controller module
	optdepends = cfitsio: for FITS support
	optdepends = ghostscript: for PostScript support
	optdepends = gjs: for JavaScript scripting support
	optdepends = gutenprint: for sophisticated printing only as gimp has built-in cups print support
	optdepends = gvfs: for HTTP/S support (and many other schemes)
	provides = gimp
	conflicts = gimp
	source = https://download.gimp.org/gimp/v3.0/gimp-3.0.0.tar.xz
	b2sums = fe33a4f59850791867111d8c775ce74f083c75f789243ea8f622137ebae045f0c21b12d2b288e97ca611e68d4cb219d05825b082cf2594742ebbbd277ac9d2a8

pkgname = gimp-stripped
