pkgbase = gimp-stripped
	pkgdesc = GNU Image Manipulation Program (stripped from most unnecessary dependencies)
	pkgver = 3.0.8
	pkgrel = 1
	url = https://www.gimp.org
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = glibc-locales
	makedepends = gobject-introspection
	makedepends = intltool
	makedepends = libxslt
	makedepends = meson
	makedepends = python-gobject
	makedepends = qoi
	depends = appstream
	depends = babl
	depends = gegl
	depends = gtk3
	depends = libgexiv2
	depends = mypaint-brushes1
	depends = libxmu
	depends = poppler-data
	depends = poppler-glib
	optdepends = alsa-lib: for MIDI event controller module
	optdepends = bash-completion: for bash completion support
	optdepends = cfitsio: for FITS support
	optdepends = ghostscript: for PostScript support
	optdepends = gjs: for JavaScript scripting support
	optdepends = gutenprint: for sophisticated printing only as gimp has built-in cups print support
	optdepends = gvfs: for HTTP/S support (and many other schemes)
	provides = gimp
	conflicts = gimp
	source = https://download.gimp.org/gimp/v3.0/gimp-3.0.8.tar.xz
	b2sums = 327aa7833406bd09d7b36ef5ee59a1c65766ab3faa5085507af4b215688cba659be135a95a4980ee44b95fdfad47bf15fb5ec61e62156761302ba996cc4cd233

pkgname = gimp-stripped
