pkgbase = inkscape-stripped
	pkgdesc = Professional vector graphics editor (stripped from most unnecessary dependencies and extensions)
	pkgver = 1.4
	pkgrel = 2
	url = https://inkscape.org
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = boost
	makedepends = git
	makedepends = glib2-devel
	depends = atkmm
	depends = boost-libs
	depends = cairo
	depends = cairomm
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = gc
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = graphicsmagick
	depends = gsl
	depends = gspell
	depends = gtk3
	depends = gtkmm3
	depends = gtksourceview4
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = lcms2
	depends = lib2geom
	depends = libcdr
	depends = libepoxy
	depends = libjpeg-turbo
	depends = libpng
	depends = librevenge
	depends = libsigc++
	depends = libsoup
	depends = libvisio
	depends = libwpg
	depends = libx11
	depends = libxml2
	depends = libxslt
	depends = poppler-glib
	depends = potrace
	depends = python
	depends = python-lxml
	depends = python-numpy
	depends = readline
	depends = ttf-font
	depends = zlib
	optdepends = fig2dev: xfig input
	optdepends = gvfs: import clip art
	optdepends = pstoedit: latex formulas
	optdepends = texlive-pstricks: latex formulas
	provides = inkscape
	conflicts = inkscape
	source = git+https://gitlab.com/inkscape/inkscape.git#tag=INKSCAPE_1_4
	source = inkscape-lib2geom::git+https://gitlab.com/inkscape/lib2geom.git
	source = inkscape-extensions::git+https://gitlab.com/inkscape/extensions.git
	source = poppler-24.10.diff
	source = poppler-24.11.diff
	b2sums = 7b3c989ab2251f7c3a6a4b94ebb1cd3e5d1b834d5f286431599e56feb1fcc9f6cb72f11cb72a3ab6d028e2bf2c627f47d74c33d2e7c5ec9fd3d9aaa80b4b4884
	b2sums = SKIP
	b2sums = SKIP
	b2sums = ebc6e108aa12def998a34de6461dc700365403fe97b08fb14849b088e86a3ff419366acfe99ec1183692706bd0025dd31a0c6d4005d0a3bbab932662f38be620
	b2sums = ebbb826056f61a7a3f877f8b3d79e6dde2e27df3cc30cb886a88964c584ec2c885e680ba906752b4280d022a995121f0790f759293d27aea13a2c24188d8b828

pkgname = inkscape-stripped
