pkgbase = inkscape-stripped
	pkgdesc = Professional vector graphics editor (stripped from most unnecessary dependencies and extensions)
	pkgver = 1.4.2
	pkgrel = 8
	url = https://inkscape.org
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = boost
	makedepends = git
	makedepends = glib2-devel
	depends = atkmm
	depends = boost-libs
	depends = cairo
	depends = cairomm
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = gc
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glibmm
	depends = graphicsmagick
	depends = gsl
	depends = gspell
	depends = gtk3
	depends = gtkmm3
	depends = gtksourceview4
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = lcms2
	depends = lib2geom
	depends = libcdr
	depends = libepoxy
	depends = libjpeg-turbo
	depends = libpng
	depends = librevenge
	depends = libsigc++
	depends = libvisio
	depends = libwpg
	depends = libx11
	depends = libxml2
	depends = libxslt
	depends = poppler-glib
	depends = potrace
	depends = python
	depends = python-lxml
	depends = python-numpy
	depends = python-tinycss2
	depends = readline
	depends = ttf-font
	depends = zlib
	optdepends = fig2dev: xfig input
	optdepends = gvfs: import clip art
	optdepends = pstoedit: latex formulas
	optdepends = texlive-pstricks: latex formulas
	provides = inkscape
	conflicts = inkscape
	source = git+https://gitlab.com/inkscape/inkscape.git#tag=INKSCAPE_1_4_2
	source = inkscape-extensions::git+https://gitlab.com/inkscape/extensions.git
	source = inkscape-libcroco::git+https://gitlab.com/inkscape/libcroco.git
	source = fix-build-with-poppler-25.10.0.patch
	b2sums = a3e1febd62b684c87ebecead107ba38e19c6e45d0bb2ea0cb0269548cac98ec492e0c39c344c45aa52922c976ae3ea0d53bbf13f424f7404e13d98727e70e6ff
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 04f77bf2ee225b195d496a98069121e669f1d7679e5cea5b524e1899ecccca02bced5bc697561b5285a56ffd40c25dfb92330ad687dd5adbb9264e34e93dea43

pkgname = inkscape-stripped
